{
  "rules": {
    "block-no-empty": null,
    "unit-allowed-list": ["em", "rem", "%", "s", "px"],
    "alpha-value-notation": ["percentage", { "exceptProperties": ["opacity"] }],
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
          "custom-variant",
          "theme"
        ]
      }
    ]
  }
}
